# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio specific
.vs/
*.csproj
*.sln
*.user

# OS-specific files
.DS_Store
Thumbs.db
/.dotnet
/.vscode
/AppData/Local/Google/Chrome/User Data/Default/Service Worker/CacheStorage/3a6faf96138604257eb4b8adcb261bd5e4ab0f95
/AppData/Local/Google/Chrome/User Data/Default/Service Worker/CacheStorage/76ef9e5953a1ba4578548bb32235240a9f0e0ca2
/AppData/Local/Google/Chrome/User Data/Default/Service Worker/CacheStorage/7e45c805c8a7ca687b3196fe1a4ee244a6b14b86
/AppData/Local/Google/Chrome/User Data/Default/Service Worker
/AppData
/Downloads
/Favorites
/Desktop
/Deneme1
/Links
/Documents
/Pictures
/Videos
/Unity2D/Snow Board/exe
